<body>
	<section>
		<h1 class="text-center">Resultado de la Operacion</h1>
		@if (ViewBag.Fallo != null)
		{
			<article class="alert  alert-danger text-center" role="alert">
				@ViewBag.Fallo
			</article>
		}
		@if (ViewBag.Exito != null)
		{
			<article class="alert alert-success text-center">
				@ViewBag.Exito
			</article>
		}
		<article>
			<br>
			@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
			{
				<a class="" asp-area="" asp-controller="Bar"
			   asp-action="BarAdmin"><i class="bi bi-arrow-left"></i>Volver al listado</a>
			}
			else
			{
				<a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
			}
			
		</article>
	</section>
	
</body>
